<%- include ('parent/header');  -%>
    <div class="playerView">
        <div class="row">
            <div class="col">
                <label for="playerName">Name : </label>
            </div>
            <div class="col">
                <input type="text" placeholder="name" id="playerName">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="playerCountry">Country : </label>
            </div>
            <div class="col">
                <input type="text" placeholder="country" id="playerCountry">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="playerRole">Playing Role : </label>
            </div>
            <div class="col">
                <input type="text" placeholder="role" id="playerRole">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="playerBasePrice">Base Price : </label>
            </div>
            <div class="col">
                <input type="number" placeholder="basePrice" id="playerBasePrice">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="playerAuctPrice">Auctioned Price : </label>
            </div>
            <div class="col">
                <input type="number" placeholder="auctioned price" id="playerAuctPrice">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="playerCUA">CUA : </label>
            </div>
            <div class="col">
                <input type="text" placeholder="cua" id="playerCUA">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="playerTeam">IPL Team : </label>
            </div>
            <div class="col">
                <input type="text" placeholder="name" id="playerTeam">
            </div>
        </div>
    </div>
<%- include ('parent/footer');  -%>