<%- include('parent/header'); -%>
<div class="row">
    <div class="col-md-8 offset-md-4">
        <a href="/upload"><h1>Upload Player JSON</h1></a> 
        <a href="/update/1"><h1>Upload Image URLS</h1></a>
        <a href="/sda"><h1>Search Delete Add Player</h1></a>
        <a href="/teams"><h1>Enter Teams</h1></a>
        <a href="/main/1"><h1>To Auction</h1></a>
        <a href="/stat"><h1>Team Stats</h1></a>
        <button class="btn btn-danger" onclick="reset(this)">Reset</button>
    </div>
</div>
<script>
    $(document).ready(() => {
            reset = (e) => {
            const res = confirm("Are you sure to reset the current state of DB Teams and DB players ?");
            console.log(res);
            if(res){
                const reponse = {
                    method : "POST",
                    headers : {
                        "Content-Type" : "application/json"
                    },
                    body : JSON.stringify({reset : true})
                };
                fetch("/reset",reponse).then(resp => resp.json()).then(resp => {
                    if(resp.status == 200) alert("Success !");
                    else alert(resp.status);
                });
            }
        }
    });
</script>
<%- include('parent/footer'); -%>