<%- include('parent/header'); -%>
<div class="row">
    <div class="col-md-8 offset-md-4">
        <a href="/upload"><h1>Upload Player JSON</h1></a> 
        <a href="/update/1"><h1>Upload Image URLS</h1></a>
        <a href="/sda"><h1>Search Delete Add Player</h1></a>
        <a href="/teams"><h1>Enter Teams</h1></a>
        <a href="/main"><h1>To Auction</h1></a>
        <a href="/stat"><h1>Team Stats</h1></a>
    </div>
</div>

<%- include('parent/footer'); -%>