<%- include('parent/header'); -%>
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="w-50">
        <h2 class="pb-5 pt-5">Enter teams : </h2>
        <div class="pb-5">
            <div class="row">
                <div class="col">
                    <label for="noOfTeams">Enter no. of teams  : </label>
                </div>
                <div class="col">
                    <input class="mb-3" type="number" id="noOfTeams" name="noOfTeams">
                </div>
                <div class="col">
                    <button onclick="enterClicked(this)">Enter</button>
                </div>
            </div>
        </div>
        <div id="teamBudget">
            <div class="row">
                <div class="col-4">
                    <label for="teamBudgetInput">Budget (Lakhs) : </label>
                </div>
                <div class="col-8">
                    <input type="number" id="teamBudgetInput" value="6000" placeholder="In Lakhs">
                </div>
            </div>
        </div>
        <br>
        <div id="teamEnter">
            <div class="row">
                <div class="col">
                    <select class="w-50" name="teamNoSelect" id="teamNoSelect"></select>
                </div>
                <div class="col">
                    <input type="text" id="teamName" disabled>
                </div>
                <div class="col">
                    <button id="submitButton" onclick="teamEntered(this)" disabled>Submit</button>
                </div>
            </div>
        </div>    
    </div>
</div>
<script>
    enterClicked = (e) => {
        if(!$("#noOfTeams").val()){
            alert("No team no. selected !");
            return;
        }
        const v = +$("#noOfTeams").val();
        let lst = Array.from(Array(v).keys()).map(e => `<option value="${e+1}">${e+1}</option>`);
        $("#teamNoSelect").children().remove();
        lst.forEach(e => $("#teamNoSelect").append(e));
        $("#teamName").attr("disabled",false);
        $("#submitButton").attr("disabled",false);
    }

    teamEntered = async (e) => {
        let teamNo = +$("#teamNoSelect").val();
        let name = $("#teamName").val();
        let teamBudget = +$("#teamBudgetInput").val();
        if(!name || name == ""){
            alert("Enter name of team !");
            return;
        }
        let reponse = {
            method : "POST",
            headers : {
                "Content-Type" : "application/json"
            },
            body : JSON.stringify({teamIndex : teamNo, teamName : name, teamBudget : teamBudget})
        };
        fetch("/teams",reponse).then(res => res.json()).then(res => {
            if(res.message == "ok") alert("Success !");
            else if(res.message == "update") alert("Updated !");
            else alert("Error !");
        });
    }
</script>
<%- include('parent/footer'); -%>