body{
    height: 100%;
}

.main{
    margin: 5%;
    padding: 0 0 5% 0;
}

.playerView,.profile-container,.stats{
    font-size: 1.5rem;
    font-weight: 500;
}

input{
    font-weight: 600;
    font-size: 1.6rem;
}

.stats{
    font-weight: 500;
    color: #FF5252;
}

.stat-decoration {
    text-decoration: dashed underline;
}

.stat-label{
    font-weight: 500;
    font-size: 1.5rem;
}

.single-team{
    margin: 3%;
}

.bid-div{
    position: absolute;
    width: 50%;
    display: none;
    background-color: white;
    opacity: 100%;
    left: 25%;
    bottom: 40%;
    font-size: 1.3rem;
    border: solid red;
}

ul{
    list-style-type:disc;
}

.playerView{
    padding-top: 5%;
}

.col-inf{
    width: 10%;
}

input{
    width: 100%;
}

.srNo {
    margin: 5% 0 0 5%;
}

.row{
    margin: 1% 0 0 0;
}

.control{
    margin: 5% 0 0 0;
}

button{
    margin: 0 5% 0 0;
}

.center{
    text-align: center;
    justify-content: center;
}

.hide_ref{
    text-decoration: none;
    color: black;
}

.hide_ref:hover{
    color: black;
}

.router-option{
    padding: 0 0 2% 0;
}

.router_button{
    border-radius: 10px;
    width: 100%;
}